.hidden {
    display: none;
}

.content-body {
    background-color: #f8fafc;
}

.material-container {
    box-shadow: 0 0 0 1px rgb(43 45 80 / 10%), 0 2px 5px 0 rgb(43 45 80 / 8%), 0 1px 1.5px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.macro-type-name,
.macro-skill-name {
    border-bottom: 1px solid #e3e7ee;
    display: flex;
    flex-direction: column;
    padding: 5px 0 10px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.skill-sort-container {
    padding-left: 10px;
}

.skill-container,
.macro-skill-container {
    background-color: #f8fafc;
}

li {
    list-style: none;
}

li.draggable {
    padding: 3px;
}

.fa-li {
    position: relative;
    left: 0;
    margin: 0 5px;
}

.error-message {
    background-color: #ff4a00;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 10px;
}