<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удостоверение</title>
    <link rel="stylesheet" href="%DOMAIN_HOST%/css/styles.css" />
</head>
<body>
    <div class="white-popup white-popup-sec">
        <img src="%DOMAIN_HOST%/%DOCUMENT_BG_IMAGE%">
        <div class="user__certificate-data">
            <p class="certificate-data-type">%DOCUMENT_TYPE%</p>
            <p class="certificate-data-title">%DOCUMENT_TITLE%</p>
            <p class="certificate-data-name">%FIO%</p>
            <p class="certificate-data-desc">%DOCUMENT_DISCHIP%</p>
            <p class="certificate-data-hours">%DOCUMENT_HOURS%</p>
            <p class="certificate-data-date">с %DOCUMENT_eduDateStart% по %DOCUMENT_eduDateEnd%</p>
            <p class="certificate-data-regist-number">
                <span class="certificate-data-regist-serial">%DOCUMENT_NUM%</span>
            </p>
            <p class="certificate-data-year">%DOCUMENT_EYEAR%</p>
        </div>
    </div>
</body>
</html>
