HOME=/
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of the week (0 - 6) (sunday to saturday;
# │ │ │ │ │                                   7 is also sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * * command to execute

# ru-ru.er_1glms_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
5 * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_1glms_ru --verbose >> /dev/null 2>&1


# ru-ru.er_budgetnik_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_budgetnik_ru --verbose >> /dev/null 2>&1


# ru-ru.er_gkh_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_gkh_ru --verbose >> /dev/null 2>&1


# ru-ru.er_glavbukh_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_glavbukh_ru --verbose >> /dev/null 2>&1


# ru-ru.er_gzakypki_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_gzakypki_ru --verbose >> /dev/null 2>&1


# ru-ru.er_kdelo_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_kdelo_ru --verbose >> /dev/null 2>&1


# ru-ru.er_law_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_law_ru --verbose >> /dev/null 2>&1


# ru-ru.er_otruda_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_otruda_ru --verbose >> /dev/null 2>&1


# ru-ru.erro_menobr_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.erro_menobr_ru --verbose >> /dev/null 2>&1


# ru-ru.na_fd_ru

# Раз в час
0 * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.na_fd_ru --verbose >> /dev/null 2>&1


# ru-ru.sovet_gd_ru

# Раз в час
0  * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.sovet_gd_ru --verbose >> /dev/null 2>&1

# ru-ru.er_hr-director_ru

# Раз в час
0  * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_hr-director_ru --verbose >> /dev/null 2>&1

# ru-ru.er_1glv_ru

# Раз в час
0  * * * * /bin/php /var/www/bin/console app:product:update --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
5  * * * * /bin/php /var/www/bin/console app:document:update --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
10 * * * * /bin/php /var/www/bin/console app:document-template:update --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1

# Раз в сутки
0 1 * * * /bin/php /var/www/bin/console app:position:update --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
0 5 * * * /bin/php /var/www/bin/console app:skill:sync --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
5 1 * * * /bin/php /var/www/bin/console app:order:generate-inclusion --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
10 1 * * * /bin/php /var/www/bin/console app:order:generate-issue_of_a_document --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
15 1 * * * /bin/php /var/www/bin/console app:status:update --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
25 1 * * * /bin/php /var/www/bin/console app:school:sync --x-host=ru-ru.er_1glv_ru --verbose >> /dev/null 2>&1
