<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Приказ о включении в Реестр</title>
    <link rel="stylesheet" href="%DOMAIN_HOST%/css/style_order.css" />
</head>
<body>
<div class="wrapper">
    <header class="">
        <div class="order__title">
            <p>Негосударственное образовательное частное учреждение</p>
            <p>организации дополнительного профессионального образования</p>
            <p>«Актион-МЦФЭР»</p>
        </div>
        <p style="text-transform: uppercase;">Приказ</p>
        <div class="order__date__number clearfix">
            <div class="order__date">
                <p><a href="" class="order__date__link">%ORDER_DATE%</a></p>
            </div>
            <div class="order__number">
                <p><a href="" class="order__number__link">№ %ORDER_NUMBER%</a></p>
            </div>
        </div>
        <p>Москва</p>
        <p>О включении в %DOMAIN_NAME%</p>
    </header>
    <main class="order__desc">
        <p>В соответствии с п.3 Порядка ведения %DOMAIN_NAME%, утвержденного Приказом директора НОЧУ ОДПО «Актион-МЦФЭР» от 01.03.2018 № 2018-03-01_1, на основании личного заявления (личных заявлений) о включении в Реестр и наличия предоставленных документов</p>
        <p style="text-transform: uppercase;">Приказываю:</p>
        <ol>
            <li>Включить в %DOMAIN_NAME% сведения о квалификации следующих лиц, осуществляющих профессиональную  деятельность в области %FIELD_OF_KNOWLEDGE%:
                %ORDER_USERS_LIST%
            </li>
            <li>Уведомить %ORDER_USERS_ZPT% о внесении сведений о профессиональной квалификации в %DOMAIN_NAME% в течение 7 дней с даты внесения соответствующей записи.</li>
        </ol>
        <p class="principal">Директор НОЧУ ОДПО «Актион-МЦФЭР» _____________________________________ Зацепин Д. А. <img src="%DOMAIN_HOST%/img/sign.png" alt=""></p>
        <p class="printing" style="text-transform: uppercase;">(м.п.)<img src="%DOMAIN_HOST%/img/pechat.jpg" alt=""></p>
    </main>
</div>
</body>
</html>
