@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TIMES.TTF') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TIMESBD.TTF') format("truetype");
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'Times New Roman';
}
