<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аттестат</title>
    <link rel="stylesheet" href="%DOMAIN_HOST%/css/styles.css" />
</head>
<body>
    <div class="white-popup white-popup-sec">
        <img src="%DOMAIN_HOST%/%DOCUMENT_BG_IMAGE%">
        <div class="user__attested-data">
            <p class="certificate-data-type">%DOCUMENT_TYPE%</p>
            <p class="certificate-data-title">%DOCUMENT_TITLE%</p>
            <p class="attested-data-name">%FIO%</p>
            <p class="attested-data-attest">%DOCUMENT_NUM%</p>
            <p class="attested-data-current">Действителен до %DOCUMENT_EDATE_Long_RU% года</p>
            <p class="attested-data-about"></p>
            <p class="attested-data-year"></p>
        </div>
    </div>
</body>
</html>
