{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
    <div>
        <a href='?type=clear' class="btn btn-info">Очистить кэш</a>
    </div>
    <div>
        {% autoescape false %}
        {{ console }}
        {% endautoescape %}
    </div>
{% endblock %}
